project                = "vault-267106"
region                 = "us-central1"
zones                  = ["us-central1-b", "us-central1-c", "us-central1-f"]
network                = "central"
subnet                 = "subnet1"
image_name             = "gcp-vault-1-3-1-consul-1-6-2"
machine_type           = "g1-small"
consul_cluster_version = "0-0-1"
vault_cluster_version  = "0-0-1"
datacenter             = "us-central1"
allowed_inbound_cidrs  = ["0.0.0.0/0"]
bootstrap              = false
cooldown_period        = 60
health_check_delay     = 90
redundancy_zones       = false
external_lb            = true
tls_enable             = true
key_file               = "CiQA5cgR2Yun/K"
cert_file              = "CiQA5cgR2ZNGI9"